In [13]:
# Q1. 손익분기점

def break_even(fc, vc, price):
    pmv = price - vc
    if pmv > 0:
        result = (fc // pmv) + 1
        return result
    else:
        return -1
    
f,v,p = map(int, input().split())
print(break_even(f,v,p))

###########################################
# 밑에는 질나쁜 코드

# def break_even(fc, vc, price):
#     i = 1
#     while True:
#         tc = fc + vc * i
#         rev = price * i
#         profit = rev - tc
#         if profit > 0:
#             return i
#         elif vc > price:
#             return -1
#         i += 1

21000 9 10
21001

In [4]:
print(1000 + 70 * 4)

print(170*4)

1280
680

In [114]:
# Q2. 벌집
# 6의 배수로 돌아간다

n = int(input())
i = 1
limit = 1

while True:
    if n in range(0, limit + 1):
        break
    else:
        limit += i * 6
        i += 1
        
print(i)
# print("i is {}".format(i))

39
i is 5

In [67]:
# Q3. 분수 찾기
#     분모와 분자를 따로 생각하자

def ncr(num):
    result = sum([a for a in range(0, num + 1)])
    return result

X = int(input())

i = 1
while True:
    if X in range(0, ncr(i) + 1):
        if i % 2 == 0:
            denom = ncr(i + 1) - X - i
            numer = X - ncr(i - 1)
            break
        else:
            denom = X - ncr(i - 1)
            numer = ncr(i) - X + 1
            break
    else:
        i += 1

print("{}/{}".format(numer, denom))
print("i is {}".format(i))

15
row_num is: 5
denom is: 2
numerator is: 4

In [136]:
# Q4. 달팽이 클라이밍

a, b, v = map(int, input().split())

checker = v - b
diff = v - checker 

print(v - diff)

5 1 6
5

In [90]:
# Q5. ACM 호텔

def room_allocator(h, n):
    i = 1
    while True:
        floors = h * i
        if n - floors < 0:
            floors = h * (i - 1)
            resid = n - floors
            break
        else:
            i += 1
            
    address = str(resid) + '0' + str(i)
    return address

# print(room_allocator(30, 72))

T = int(input())
for i in range(0, T):
    H, W, N = map(int, input().split())
    print(int(room_allocator(H, N)))

2
6 10 12
3
6 12 10
402

In [10]:
# Q6. K층 n호 부녀회장

def residents(k, n):

    apt = []
    line = [ho for ho in range(1, n + 1)]      # apt 0층 line 계산 완료
    apt.append(line)      # apt 0 층 라인 반영 완료
    line = []

    for floor in range(1, k + 1):
        for ho in range(1, n + 1):
            if ho == 1:
                line.append(1)
            else:
                num = apt[-1][ho - 1] + line[-1]
                line.append(num)
        apt.append(line)
        line = []

    return apt[-1][-1]

T = int(input())

for i in range(1, T + 1):
    k = int(input())
    n = int(input())
    
    print(residents(k, n))

2
4
4
56
5
4
84

In [3]:
a = [[1, 2, 3, 4], [2, 3, 4, 5]]
a[-1][-1]

5

In [69]:
# Q. 큰 수 A+B

a, b = map(int, input().split())
print(a + b)

9223372036854775807 9223372036854775808
18446744073709551615

In [89]:
# Q 분수 찾기

def ncr(num):
    result = sum([a for a in range(0, num + 1)])
    return result



X = int(input())

i = 1
while True:
    if X in range(0, ncr(i) + 1):
        if i % 2 == 0:
            denom = ncr(i + 1) - X - i
            numer = X - ncr(i - 1)
            break
        else:
            denom = X - ncr(i - 1)
            numer = ncr(i) - X + 1
            break
    else:
        i += 1

print("{}/{}".format(numer, denom))
print("i is {}".format(i))

22
7/1
i is 7

In [85]:
# Q7. 설탕 배달

def sugar(N):
    t_list = [t for t in range(1, N + 1) if (t % 3 == 0) and (t % 5) != 0]  # N 보다 작은 3의 배수 (5의 배수 미포함)
    f_list = [f for f in range(1, N + 1) if f % 5 == 0]  # N 보다 작은 5의 배수
    f_list.reverse()    # 제일 큰 5의 배수부터 돌리기 위해 역순으로 ㄱㄱ
    
    three = 0
    five = 0
    result = 0
    
    # case 1:  최우선적으로 5로 딱 나뉘어 지는 것들
    if N % 5 == 0:
        result = N // 5
        return result
    
    # case 2:  두번째로 5로 나뉘어지진 않지만, N에서 5의 배수를 뺐을 때 3으로 나뉘어 지는 것들
    for num in f_list:
        if (N - num) % 3 == 0:
            five = num // 5
            three = (N - num) // 3
            result = five + three
            return result
    
    # case 3: 세번째로 3의 배수로만 나뉘어 지는 것들.
    if N % 3 == 0:
        result = N // 3
        return result
    
    # case 4: 5와 3 조합으로 불가능한 나머지
    else:
        return -1
    
n = int(input())
print(sugar(n))

23
5

####

In [25]:
li = [th for th in range(1, 11) if th % 3 == 0]
print(li)

[3, 6, 9]

In [150]:
import math

print(math.pi)

3.141592653589793

In [151]:
abs(-3)

3

In [155]:
(21 ** 2) * math.pi
round(2 * (21**2), 7)

882

In [36]:
# Q

li = [1, 2, 3]
li2 = [3, 5, 6]
li.extend(li2)
print(list(set(li)))

[1, 2, 3, 5, 6]