In [6]:
# Q1.

# print(ord('A'))
# print(ord('0'))
# print(ord('9'))

char = input()

print(ord(char))

0
48

In [18]:
# Q2. 숫자의 합

n = int(input())
num = input()

total = 0
for i in num:
    total += int(i)
    
print(total)

11
10987654321
46

In [74]:
# Q3. 알파벳 찾기
# version 1: very inefficient
alp = {'a': -1, 'b': -1, 'c': -1, 'd': -1, 'e': -1, 'f': -1, 'h': -1, 'i': -1, 'j': -1, 'k': -1,
      'm':-1, 'n': -1, 'o': -1, 'p': -1, 'q':-1, 'r':-1, 's':-1, 't':-1, 'u':-1, 'v':-1, 'w':-1,
      'x':-1, 'y':-1, 'z':-1}

S = input()

li = []

for char in S:
    li.append(char)

for key, value in alp.items():
    if key in li:
        order = li.index(key)
        alp[key] = order


for key,value in alp.items():
    print(value, end=" ")
    

##########################################

baekjoon
1 0 -1 -1 2 -1 -1 -1 4 3 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [76]:
# Q3. version 2

s = input()
arr = []

for j in range(97,123):
    if chr(j) in s:
        arr.append(s.index(chr(j)))
    else:
        arr.append(-1)
        
for i in arr:
    print(i, end=" ")

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [32]:
'a' > 'b'

False

In [36]:
# Q4. 문자열 R 번 반복

def rep(n, string):
    li = []
    for char in string:
        li.append(char*n)
    new_str = li[0]
    for i in range(1,len(li)):
         new_str = new_str + li[i]
    
    return new_str

n = int(input())
i = 0

while i < n:
    S = input().split()
    num = int(S[0])
    print(rep(num, S[1]))
    i += 1

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

In [4]:
# Q5. 단어 공부

# def tolower(word):
#     return word.lower()

s = input()

li = []
for char in s.lower():
    li.append(char)


dic = {}
for char in set(li):
    dic[char] = 0
    
for char in s.lower():
    dic[char] += 1
    
# print(dic)

max_num = 0
for key, value in dic.items():
    # print(key, value)
    if max_num < value:
        max_num = value
        max_char = key
    elif max_num == value:
        max_char = '?'
        
print(max_char.upper())

baAAa
A

In [9]:
# Q6. 영어 대소문자와 띄어쓰기만으로 이루어진 문자열

def word_count(s):
    li = s.split()
    return len(li)

sentence = input()

print(word_count(sentence))

Teullinika Teullyeotzi
2

In [24]:
# Q7. 상수

def reverse(word):
    n = len(word)
    new_word = word[n-1]
    for i in range(0,n-1):
        new_word += word[n-2-i]
    return new_word

a, b = input().split()

a_reverse = reverse(a)
b_reverse = reverse(b)

if int(a_reverse) > int(b_reverse):
    print(int(a_reverse))
else:
    print(int(b_reverse))

839 237
938

In [38]:
# Q8. 전화 거는 시간

def alphabet_to_num(word):
    dic = {
        'a': 2,
        'b': 2,
        'c': 2,
        'd': 3,
        'e': 3,
        'f': 3,
        'g': 4,
        'h': 4,
        'i': 4,
        'j': 5,
        'k': 5,
        'l': 5,
        'm': 6,
        'n': 6,
        'o': 6,
        'p': 7,
        'q': 7,
        'r': 7,
        's': 7,
        't': 8,
        'u': 8,
        'v': 8,
        'w': 9,
        'x': 9,
        'y': 9,
        'z': 9
    }
    
    result = 0
    for char in word:
        result += dic[char.lower()] + 1
    
    return result

s = input()

print(alphabet_to_num(s))

UNUCIC
36

In [55]:
# Q9. 크로아티아 알파벳

def croc_word(word):
    dic = {'c=': 1,
           'c-': 1,
           'dz=': 1,
           'd-': 1,
           'lj': 1,
           'nj': 1,
           's=': 1,
           'z=': 1}
    

    count = 0
    n = len(word)
    for i in range(0,len(word)-1):
        new_word = word[i] + word[i+1]
        if new_word in dic:
            count += 1
    
    for i in range(0,len(word)-2):
        new_word = word[i] + word[i+1] + word[i+2]
        if new_word in dic:
#             print(new_word)
            count += 1
    
    n = n - count
    
    return n

# print(croc_word('dz=ak'))

s = input()

print(croc_word(s))

ljes=njak
6

In [63]:
# 크로아티아 알파벳 다른 방법:

a = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']
s = input()


for croc in a:
    s = s.replace(croc, '*')

print(s)
print(len(s))

ljes=njak
*e**ak
6

In [ ]:
# Q10. 그룹 단어

n = int(input())
li = []
for i in range(n):
    s = input()
    li.append(s)