In [3]:
# Q1.  a b 대소비교

a, b = map(int, input().split())

if a > b:
    print('>')
elif a < b:
    print('<')
else:
    print('==')

2 2
==

In [7]:
# Q2. 시험성적출력

grade = int(input())

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

70
C

In [21]:
# Q3. 윤년:
# 4의 배수이면서, 100의 배수는 아니어야하며, 400의 배수일 때 윤년임.

year = int(input())

if year % 4 == 0:
    if year % 100 != 0:
        print(1)
    elif year % 400 == 0:
        print(1)
    else:
        print(0)
else:
    print(0)

1999
0

In [37]:
# Q4. 제 n 분면

x = int(input())
y = int(input())


if x > 0 and y > 0:
    print(1)
elif x < 0 and y > 0:
    print(2)
elif x < 0 and y < 0:
    print(3)
else:
    print(4)

-1
-1
3

In [45]:
# Q5. 45분 빨리 설정하는 알람

H, M = map(int, input().split())

if H == 0:
    if M >= 45: 
        print(H, M-45)
    else:
        M = M + (60-45)
        H = 23
        print(H, M)
else:
    if M >= 45: 
        print(H, M-45)
    else:
        M = M + (60-45)
        print(H-1, M)

23 40
22 55