In [5]:
# Q1.

# print("강한친구 대한육군 \n" * 2)

# 정답: 
print("강한친구 대한육군")
print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

In [17]:
# Q2.  개 출력

print("|\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\__|")


print('------------------')

print('|\_/|\n|q p|   /}\n( 0 )\"\"\"\\\n|\"^\"`|\n||_/=\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\__|
------------------
|\_/|
|q p|   /}
( 0 )"""\
|"^"`|
||_/=\__|

In [39]:
# Q3. 두수 입력후 출력


## 방법 1
a, b = input("곱 할 두 수를 입력하세요: ").split()
print(a)
print(b)
print(type(a))
a = int(a)
print(type(a))
b = int(b)

result = a * b
print(result)


#####################

## 방법 2 map 사용하기!
a, b = map(int, input("두 수를 곱해보자").split())
print(a * b)

곱 할 두 수를 입력하세요: 1 2
1
2
<class 'str'>
<class 'int'>
2
두 수를 곱해보자3 4
12

In [41]:
# Q4. 두 수 입력후 나누기로 출력

a, b = map(float, input("두 수를 나눠보자").split())
print(a/b)

두 수를 나눠보자4 5
0.8

In [44]:
# Q5. 사칙연산을 해보자

a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

7 3
10
4
21
2
1

In [46]:
# Q6. 나머지

a, b, c = map(int, input().split())

print((a + b) % c)
print(((a % c) + (b % c)) % c)
print((a * b) % c)
print((a % c) * (b % c) % c)

5 8 4
1
1
0
0

In [54]:
# Q7. 곱의 법칙을 파헤쳐보자!

a = int(input())
b = int(input())

step1 = int(str(b)[2])

print(step1 * a)

step2 = int(str(b)[1])
print(step2 * a)

step3 = int(str(b)[0])
print(step3 * a)

result = a * b
print(result)

472
385
2360
3776
1416
181720